$color-light-blue: rgb(96, 145, 195)
$color-dark-blue: rgb(31, 47, 87)
$color-white: rgb(253, 250, 249)
$color-gray: rgb(168, 168, 168)
$color-light-gray: rgba(168, 168, 168, .5)

@import custom-theme

table
  width: 100%

th.mat-sort-header-sorted
  color: black

tr.mat-row
  cursor: pointer

.mat-form-field
  width: 355px

mat-nav-list.horizontal-list
  padding: 0
  .mat-list-item
    display: inline-block
    height: auto
    width: auto

.mat-list-base .mat-list-item
  color: $color-white

.mat-nav-list a.active
  border-bottom: $color-white 2px solid

.logo
  padding-right: 10px

.list-header
  padding: 12px 18px
  background: $color-light-gray

.list-header .pull-right
  float: right
  margin-top: -10px

.muted
  color: $color-light-gray

div.mat-dialog-content
  padding: 10px 24px

.badge
  color: $color-white
  background: $color-light-blue
  border-radius: 50%
  padding: 4px 6px

span.item
  padding-left: 12px

ul.product-meta
  list-style-type: none

img.part
  float: left
  vertical-align: middle
  padding-right: 12px

img.item
  clip-path: circle(25px at center)
  vertical-align: middle
